<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form 
    id="new-form" 
    action="/clothingitems/<%= clothingItem._id %>?_method=PUT" 
    method="POST"
    >
    <label for="clothingitems-select">Name:</label>
    <select name="name" id="clothingitems-select">
      <option value="<%= clothingItem.name %>"><%= clothingItem.name %></option>
      <option value="Tops">Tops</option>
      <option value="Bottoms">Bottoms</option>
      <option value="Outerwear">Outerwear</option>
      <option value="Shoes">Shoes</option>
      <option value="Accessories">Accessories</option>
    </select>
    <label for="description-input">Description:</label>
    <input 
      type="text" 
      name="description" 
      id="description-input"
      value="<%= clothingItem.description %>"
      required
      >
    <label for="favorite-checkbox">
      Favorite?
      <input 
      type="checkbox" 
      name="favorite"
      id="favorite-checkbox"
      <%= clothingItem.favorite ? 'checked' : '' %>
      >
    </label>
    <label for="status-select">Status:</label>
    <select name="status" id="clothingitems-status-select">
      <option value="<%= clothingItem.status %>"><%= clothingItem.status %></option>
      <option value="Keep">Keep</option>
      <option value="Sell">Sell</option>
      <option value="Donate">Donate</option>
    </select>
    <label for="sold-checkbox">
      Sold?
      <input 
      type="checkbox" 
      name="sold"
      id="sold-checkbox"
      <%= clothingItem.sold ? 'checked' : '' %>
      >
    <button type="submit">Update Item</button>
  </form>
</main>

<%- include('../partials/footer') %>
