<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>

<section class="all-items">
  <% if (user) { %>
    <h2>All Items ðŸ‘•ðŸ‘–ðŸ§¥ðŸ‘ŸðŸ§¢</h2>
    <ul class="item-list">
      <% clothingItems.forEach(clothingItem => { %>
        <% if (clothingItem.owner.equals(user?.profile._id)) { %>
          <li class="items">
            <div>
              <span><%= 
              clothingItem.name === 'Tops' && 'ðŸ‘•' 
              || clothingItem.name === 'Bottoms' && 'ðŸ‘–' 
              || clothingItem.name === 'Outerwear' && 'ðŸ§¥' 
              || clothingItem.name === 'Shoes' && 'ðŸ‘Ÿ' 
              || clothingItem.name === 'Accessories' && 'ðŸ§¢' 
              || ''%></span>
            <%= clothingItem.name %>
            <a href="/clothingitems/<%= clothingItem._id %>">
              <button class="btns">Edit Item</button>
            </a>
            <% if (clothingItem.owner.equals(user?.profile._id)) { %>
              <form action="/clothingItems/<%= clothingItem._id %>?_method=DELETE"
                method="POST"
                >
                <button 
                class="btns" type="submit">X</button>
              </form>
              <% } %>
            </div>
        <div class="info-body">
          <div>Description: </div>
          <div><%= clothingItem.description %></div>
          <div>Favorite: </div>
          <div><%= clothingItem.favorite ? 'Yes âœ…' : 'Nope ðŸš«' %></div>
          <div>Status: </div>
          <div><%= 
          clothingItem.status === 'Keep' && 'Keep â¤ï¸' 
          ||  clothingItem.status === 'Sell' && 'Sell ðŸ’²' 
          || clothingItem.status === 'Donate' && 'Donate â™»ï¸' 
          || '' %>
        </div>
        <div>Sold:</div>
        <div><%= clothingItem.sold ? 'Yes ðŸ’¸' : 'Nope ðŸš«' %></div>
      </div>
        </li>
          <% } %>
      <% }) %>
    </ul>
  <% } %>
</section>

<%- include('../partials/footer') %>
