<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>

<section class="all-item-list">
  <% if (user) { %>
    <h2>All Items 👕👖🧥👟🧢</h2>
    <ul>
      <% clothingItems.forEach(clothingItem => { %>
        <% if (clothingItem.owner.equals(user?.profile._id)) { %>
          <li>
          <a href="/clothingitems/<%= clothingItem._id %>">
            <span><%= 
              clothingItem.name === 'Tops' && '👕' 
              || clothingItem.name === 'Bottoms' && '👖' 
              || clothingItem.name === 'Outerwear' && '🧥' 
              || clothingItem.name === 'Shoes' && '👟' 
              || clothingItem.name === 'Accessories' && '🧢' 
              || ''%></span>
            <%= clothingItem.name %>
            <%= clothingItem.description %>
          </a>
          <% if (clothingItem.owner.equals(user?.profile._id)) { %>
          <form action="/clothingItems/<%= clothingItem._id %>?_method=DELETE"
            method="POST"
          >
            <button type="submit">X</button>
          </form>
          <% } %>
        </li>
          <% } %>
      <% }) %>
    </ul>
  <% } %>
</section>

<%- include('../partials/footer') %>
