<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>

<section>
  <% if (user) { %>
    <h2>All Items 👟👕👖🧢</h2>
    <ul>
      <% clothingItems.forEach(clothingItem => { %>
        <li>
          👟
          <a href="/clothingitems/<%= clothingItem._id %>"><%= clothingItem.name %></a>
        </li>
      <% }) %>
    </ul>
  <% } %>
</section>

<%- include('../partials/footer') %>
