<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/clothingItems/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section class="flex-column item-detail">
    <div>Category: <%= clothingItem.name %>
      <span><%= 
        clothingItem.name === 'Tops' && 'ðŸ‘•' 
        || clothingItem.name === 'Bottoms' && 'ðŸ‘–' 
        || clothingItem.name === 'Outerwear' && 'ðŸ§¥' 
        || clothingItem.name === 'Shoes' && 'ðŸ‘Ÿ' 
        || clothingItem.name === 'Accessories' && 'ðŸ§¢' 
        || ''%>
      </span>
    </div>
    <div>Description: <%= clothingItem.description %></div>
    <div>Favorite: <%= clothingItem.favorite ? 'Yes âœ…' : 'Nope ðŸš«' %></div>
    <div>Status: <%= 
      clothingItem.status === 'Keep' && 'Keep â¤ï¸' 
      ||  clothingItem.status === 'Sell' && 'Sell ðŸ’²' 
      || clothingItem.status === 'Donate' && 'Donate â™»ï¸' 
      || '' %>
    </div>
    <div>Sold: <%= clothingItem.sold ? 'Yes ðŸ’¸' : 'Nope ðŸš«' %></div>
    <div>Color(s):
      <% colors.forEach(color=> { %>
          <%= color.name %>
        <% }) %>
    </div>
    <div>Brand(s):
      <% brands.forEach(brand=> { %>
        <%= brand.name %>
      <% }) %>
    </div>
    <% if (clothingItem.owner.equals(user?.profile._id)) { %>
      <a href="/clothingItems/<%= clothingItem._id %>/edit">
        <button id="edit-item-btn">Edit Item</button>
    <% } %>
    </a>
  </section>
</main>

<%- include('../partials/footer') %>
