<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Name: </div>
    <div><%= clothingItem.name %>
      <span><%= 
        clothingItem.name === 'Tops' && 'ðŸ‘•' 
        || clothingItem.name === 'Bottoms' && 'ðŸ‘–' 
        || clothingItem.name === 'Outerwear' && 'ðŸ§¥' 
        || clothingItem.name === 'Shoes' && 'ðŸ‘Ÿ' 
        || clothingItem.name === 'Accessories' && 'ðŸ§¢' 
        || ''%></span>
    </div>
    <div>Description: </div>
    <div><%= clothingItem.description %></div>
    <div>Favorite: </div>
    <div><%= clothingItem.favorite ? 'Yes âœ…' : 'Nope ðŸš«' %></div>
    <div>Status: </div>
    <div><%= clothingItem.status === 'Keep' && 'Keep â¤ï¸' ||  clothingItem.status === 'Sell' && 'Sell ðŸ’²' || clothingItem.status === 'Donate' && 'Donate â™»ï¸' || '' %></div>
    <div>Sold:</div>
    <div><%= clothingItem.sold ? 'Yes ðŸ’¸' : 'Nope ðŸš«'%></div>
    <div>Brand:</div>
    <% clothingItem.brands.forEach(brandType => { %>
      <%= brandType.name %>
    <% }) %>
    <form
      id="add-brand-to-item"
      action="/clothingitems/<%= clothingItem._id %>/brands"
      method="POST"
    >
      <select name="brandId" id="brand-select">
        <% brands.forEach(brand => { %>
          <option value="<%= brand._id %>"><%= brand.name %></option>
      <% }) %>
      </select>
      <button type="submit">Add Brand</button>
    </form>
    <a href="/clothingitems/<%= clothingItem._id %>/edit">
      <button>Edit Item</button>
    </a>

  </section>
</main>

<%- include('../partials/footer') %>
