<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Category: </div>
    <div><%= clothingItem.name %>
      <span><%= 
        clothingItem.name === 'Tops' && 'ðŸ‘•' 
        || clothingItem.name === 'Bottoms' && 'ðŸ‘–' 
        || clothingItem.name === 'Outerwear' && 'ðŸ§¥' 
        || clothingItem.name === 'Shoes' && 'ðŸ‘Ÿ' 
        || clothingItem.name === 'Accessories' && 'ðŸ§¢' 
        || ''%>
      </span>
    </div>
    <div>Description: </div>
    <div><%= clothingItem.description %></div>
    <div>Favorite: </div>
    <div><%= clothingItem.favorite ? 'Yes âœ…' : 'Nope ðŸš«' %></div>
    <div>Status: </div>
    <div><%= 
      clothingItem.status === 'Keep' && 'Keep â¤ï¸' 
      ||  clothingItem.status === 'Sell' && 'Sell ðŸ’²' 
      || clothingItem.status === 'Donate' && 'Donate â™»ï¸' 
      || '' %>
    </div>
    <div>Sold:</div>
    <div><%= clothingItem.sold ? 'Yes ðŸ’¸' : 'Nope ðŸš«' %></div>
    <div>Color(s):</div>
      <% colors.forEach(color=> { %>
        <%= color.name %>
      <% }) %>
    <div>Brand(s):</div>
    <% brands.forEach(brand=> { %>
      <%= brand.name %>
    <% }) %>
    <% if (clothingItem.owner.equals(user?.profile._id)) { %>
      <a href="/clothingItems/<%= clothingItem._id %>/edit">
        <button>Edit Item</button>
    <% } %>
    </a>
  </section>
</main>

<%- include('../partials/footer') %>
