<%- include('./partials/html-head') %>

<%- include('./partials/nav') %>

<main>
  <div class="flex-row">
    <img class="main-icons" src="/images/t-shirt-64.png" alt="t-shirt icon">
    <img class="main-icons" src="/images/jeans-64.png" alt="jeans icon">
    <img class="main-icons" src="/images/shirt-64.png" alt="shirt icon">
    <img class="main-icons" src="/images/sneaker-64.png" alt="sneaker icon">
    <img class="main-icons" src="/images/backpack-64.png" alt="backpack icon">
  </div>
  <h1><%= user ? `${user.profile.name}'s Stocklist` : "Stocklist" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
  <div 
  id="g_id_onload"
  data-client_id="<%= googleClientID %>"
  data-login_uri="/auth/google"
  data-auto_prompt="false"
  data-prompt_parent_id="g_id_onload"
></div>
<div 
  class="g_id_signin right"
  data-type="standard"
  data-size="large"
  data-theme="filled_blue"
  data-text="sign_in_with"
  data-shape="rectangular"
  data-logo_alignment="left"
></div>
</main>

<%- include('./partials/footer') %>
